<IfModule mod_env.c>
    SetEnv CI_ENV development
    SetEnv CI_COOKIE database
</IfModule>
<IfModule mod_php5.c>
    #Session timeout
    php_value session.cookie_lifetime 43200
    php_value session.gc_maxlifetime 43200
</IfModule>
<IfModule mod_rewrite.c>
    Options +FollowSymlinks -Indexes
    RewriteEngine On
    RewriteBase /
    DirectoryIndex index.php
    RewriteCond $1 !^(index\.php|favicon\.ico|credentials.json|robots\.txt|uploads|vendor|public|captcha|data|include|assets|plugins|images|css|js)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>